body {
  background-color: #f7f9fc;
  font-family: 'Lora', serif;
  color: #575f7d;
  font-size: 17px;
  line-height: 1.6;

}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
}

h1 {
  color: #565f7d;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.8;
}

h2 {
  color: #7ece90;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}

h3 {
  color: #7ece90;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: rgb(144, 0, 255);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 700px;
  margin: auto;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.fa-brands:hover {
  cursor: pointer;
  color: rgb(95, 93, 93);
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
